<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>srvCadastroNovo</servlet-name>
        <servlet-class>Servlets.srvCadastroNovo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvCadastroLivro</servlet-name>
        <servlet-class>Servlets.srvCadastroLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvEdicaoLivro</servlet-name>
        <servlet-class>Servlets.srvEdicaoLivro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvCadastroNovo</servlet-name>
        <url-pattern>/srvCadastroNovo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvCadastroLivro</servlet-name>
        <url-pattern>/srvCadastroLivro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvEdicaoLivro</servlet-name>
        <url-pattern>/srvEdicaoLivro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
